aiofiles==0.6.0
blis==0.7.4
cachetools==4.2.1
catalogue==2.0.1
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
cymem==2.0.5
en-core-web-trf @ https://github.com/explosion/spacy-models/releases/download/en_core_web_trf-3.0.0/en_core_web_trf-3.0.0-py3-none-any.whl
fastapi==0.44.1
filelock==3.0.12
ftfy==5.9
h11==0.9.0
idna==2.10
Jinja2==2.11.3
joblib==1.0.1
MarkupSafe==1.1.1
murmurhash==1.0.5
numpy==1.20.1
packaging==20.9
pathy==0.4.0
peewee==3.14.2
plac==1.1.3
preshed==3.0.5
prodigy @ file:///C:/Users/eirik/PycharmProjects-38/Annotering2/prodigy-1.11.0a4-cp36.cp37.cp38.cp39-cp36m.cp37m.cp38.cp39-win_amd64.whl
pydantic==1.7.3
PyJWT==1.7.1
pyparsing==2.4.7
regex==2020.11.13
requests==2.25.1
sacremoses==0.0.43
six==1.15.0
smart-open==3.0.0
spacy==3.0.4
spacy-alignments==0.7.2
spacy-legacy==3.0.1
spacy-transformers==1.0.1
srsly==2.4.0
starlette==0.12.9
thinc==8.0.2
tokenizers==0.9.4
toolz==0.11.1
torch==1.8.0
torchcontrib==0.0.2
tqdm==4.59.0
transformers==4.2.2
typer==0.3.2
typing-extensions==3.7.4.3
urllib3==1.26.3
uvicorn==0.11.8
wasabi==0.8.2
wcwidth==0.2.5
websockets==8.1
